.approval-request-page {
    display: flex;
    gap: 24px;
}

.user-uploads {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 50px;
}

@media screen and (max-width: 960px) {
    .approval-request-page {
        display: grid;
        grid-gap: 80px;
    }
}