/* Navbar.css */
.navbar {
    background-color: #343a40; /* Dark gray background */
    color: white;
    padding: 10px 20px; /* Adjust padding to match the image */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center items vertically */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Font similar to Django admin */
}

.navbar .title {
    font-size: 1.5em; /* Larger font size for the title */
}
.navbar .user-info {
    display: flex; /* Использовать flexbox для выравнивания элементов в один ряд */
    align-items: center; /* Центрировать элементы по вертикали */
    gap: 10px; /* Расстояние между элементами */
}

.navbar .user-info span,
.navbar .user-info a,
.navbar .user-info button {
    white-space: nowrap; /* Запретить перенос строк */
}

.navbar .user-info a {
    color: #d3d3d3; /* Light gray color for links */
    text-decoration: none; /* No underline for links */
    margin-left: 10px; /* Space between links */
}

.navbar .user-info a:hover {
    text-decoration: underline; /* Underline on hover for links */
}

.navbar .user-info button {
    background: none; /* Убрать фон */
    border: none; /* Убрать рамку */
    color: #d3d3d3; /* Цвет текста, как у ссылок */
    padding: 0; /* Убрать внутренние отступы */
    margin-left: 10px; /* Отступ слева, как у ссылок */
    cursor: pointer; /* Курсор в виде руки */
    font-size: 0.875em; /* Размер шрифта, как у ссылок */
}

.navbar .user-info button:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}