.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background: none;
    border: 1px solid #ddd;
    padding: 4.5px 10px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagination button:disabled {
    color: #ddd;
    cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
    background: #ddd;
}