.app-experience__content {
	margin-bottom: 5vh;
}

.app-experience table {
	width: 100%;
	border: 1px solid #cecece6e;
	color: #393939;
	border-spacing: 0;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	border-collapse: collapse;
}

.app-experience th {
	background: #edeced;
	font-weight: 500;
	font-size: 18px;
}

.app-experience tr {
	border-bottom: 1px solid;
	border-color: #cecece6e;
}

.app-experience tr:last-child {
	border: 0;
}

.app-experience th, td {
	padding: 13px 0;
	border-right: 1px solid #cecece6e;
}

.app-experience__button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.app-experience__button button {
	padding: 15px 50px;
	font-size: 19px;
	color: #fff;
	border: none;
	border-radius: 15px;
	background: var(--first-color); /* Make sure to define this variable or replace it with the actual color code */
	cursor: pointer;
	margin-top: 20px;
}

.app-experience__button i::before {
	color: #fff;
}

.app-experience__empty {
	justify-content: flex-start;
}