.table__title {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 500;
}

.app-table__content {
	margin-bottom: 5vh;
}

.app-table table {
	width: 100%;
	border: 1px solid #cecece6e;
	color: #393939;
	border-spacing: 0;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	border-collapse: collapse;
}

.app-table th {
	background: #edeced;
	font-weight: 500;
	font-size: 18px;
}


.app-table tr {
	border-bottom: 1px solid;
	border-color: #cecece6e;
}

.app-table tr:last-child {
	border: 0;
}

.app-table th, td {
	padding: 13px 0;
	border-right: 1px solid #cecece6e;
}

.app-table__button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.app-table__button button {
	padding: 15px 50px;
	font-size: 19px;
	color: #fff;
	border: none;
	border-radius: 15px;
	background: var(--first-color);
	cursor: pointer;
	margin-top: 20px;
}

.app-table__button i::before {
	color: #fff;
}

.app-table__empty {
	justify-content: flex-start;
}