.user-edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-edit__row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-edit__item {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    font-size: 15px;
    color: #ffffffe7;
    font-weight: 300;
}

.user-edit__item input,
.user-edit__item select { 
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 13px;
    box-sizing: border-box;
}

.user-edit__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.user-edit__button {
    width: 130px;
    height: 40px;
    background: #333333;
    border-radius: 5px;
    font-size: 16px;
    transition: .25s ease-in-out;
}

.delete-button {
    background: #af2727;
}

.delete-button:hover {
    background: hsl(0, 64%, 40%) !important;
}

.user-edit__button:hover {
    background: hsl(0, 0%, 23%);
}