:root {
  --item-bg: #0000001c;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  background: #242424;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, select {
  width: 300px;
  background: #292929;
  border-radius: 50px;
  height: 40px;
  border: 1px solid #ffffff17;
  padding: 0px 20px;
  padding-right: 0;
  color: #ffffff63;
  font-size: 15px;
  font-weight: 400;
  transition: .25s ease-in-out;
}

input:active, input:focus, select:active, select:focus {
  color: #fff;
}

select {
  padding: 0 17px;
}